.collection {
  &__box {
    position: relative;
  }
  &__background {
    position: absolute;
    top: 110px;
    left: 85px;
  }
  &__list {
    margin-left: 85px;
    position: relative;
    padding-top: 230px;
    display: flex;
    column-gap: 30px;
  }
  &__item {
    width: 255px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  &__img {
    margin-bottom: 70px;
  }
  &__title {
    margin-bottom: 24px;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333d4b;
  }
  &__text {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333d4b;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .collection {
    &__box {
      width: 689px;
    }
    &__container {
      margin: 0 auto;
      margin-top: 30px;
    }
    &__background {
      margin-left: 0;
    }
    &__gradient {
      position: absolute;
      left: -40px;
      top: -50px;
      width: 689px;
    }
    &__list {
      padding-top: 130px;
      display: flex;
      flex-direction: column;
      margin-left: 97px;
    }
    &__item {
      display: flex;
      flex-direction: row;
      column-gap: 36px;
    }
    &__flex {
      margin-top: 25px;
      display: flex;
      flex-direction: column;
    }
    &__title {
      text-align: start;
      width: 282px;
      font-family: "Fraunces ";
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 32px;
      color: #333d4b;
    }
    &__text {
      text-align: start;
      font-family: "Barlow";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      color: #333d4b;
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .collection {
    &__container {
      width: 327px;
      margin: 0 auto;
    }
    &__box {
      display: flex;
      flex-direction: column;
    }
    &__background {
      margin-top: 80px;
      position: absolute;
      left: 0;
    }
    &__gradient {
      width: 329px;
      height: 72px;
      align-items: center;
    }
    &__list {
      width: 282px;
      display: flex;
      flex-direction: column;

      margin-top: 93px;
      margin-left: 26px;
    }
    &__img {
      margin-bottom: 0;
    }
    &__title {
      margin-top: 24px;
      margin-bottom: 0;
      font-family: "Fraunces";
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      text-align: center;
      color: #333d4b;
    }
    &__text {
      font-family: "Barlow";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      margin-top: 16px;
      margin-bottom: 48px;
      text-align: center;
      color: #333d4b;
    }
  }
}
