.filial {
  &__box {
    margin-top: 170px;
    margin-left: 85px;
  }
  &__container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  &__title {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888f;
  }
  &__list {
    margin-top: 70px;
    display: flex;
    column-gap: 120px;
  }
  &__item {
    width: 272px;
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
  &__icon {
    margin-bottom: 45px;
  }
  &__country {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333d4b;
  }
  &__text {
    width: 160px;
    margin-top: 24px;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333d4b;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .filial {
    &__container {
      width: 689px;
      margin: 0 auto;
    }
    &__box {
      margin-top: 150px;
      margin-left: 0;
    }
    &__title {
      margin-left: 0;
      font-family: "Fraunces";
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 32px;
      color: #83888f;
    }
    &__subtitle {
      width: 260px;
      font-family: "Fraunces";
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 36px;
      color: #333d4b;
    }
    &__text {
      font-family: "Barlow";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #333d4b;
    }
    &__list {
      display: flex;
      column-gap: 60px;
    }
    &__item {
      width: 223px;
    }
  }
}

.long {
  width: 300px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .filial {
    &__container {
      width: 327px;
      margin: 0 auto;
    }
    &__box {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      text-align: center;
      margin-top: 140px;
    }
    &__title {
      font-family: "Fraunces";
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      color: #83888f;
    }
    &__list {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      text-align: center;
    }
    &__item {
      width: 328px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
